<%- include('z-header') -%>
    <title> Erreur </title>
</head>
<body>
    <div class="index">  
        <%- include('z-nav') -%>
        <div class="objets">
            <div class="title">Erreur</div>
            <h6>page d'erreur</h6>
            <div class="boutique">
                <%- error %>
            </div>
        </div>
    </div>
<%- include('z-footer') -%>