<%- include('z-header') -%>
    <title> Erreur </title>

</head>
<body>
    <div class="index">
        <div class="nav">
            <div class="navlinks">
                <h1>ERROR</h1>
            
                <h5><%= title %></h5>
                <br/><br/>
                <a href="/login">Login</a>
                <hr/>
                <a href="/">Registration</a>
            </div>
            
        </div>
    </div>
<%- include('z-footer') -%>