<%- include('z-header') -%>
    <title>S'inscrire</title>
    
</head>
<body>
    <div class="forms">
        <div class="formContent">
            <h1>Registration</h1>
            <h5>Robot fighters</h5>
            <form action="log" method="post">
                <input type="text" name="email" id="" placeholder="email">
                <input type="text" name="pseudo" id="" placeholder="nickname">
                <input type="password" name="password" id="" placeholder="password">
                        
                <input type="submit" value="register now">

                <span>Déjà inscrit ? <a href="/login">Connexion</a></span>
            </form>
        </div>
        
    </div>
<%- include('z-footer') -%>