<div class="nav">
    <h1><%= name %></h1>
    <h5><%= title.email %></h5>
    <div class="navlinks">
        <a href="/index">Page d'accueil</a>
        <hr/>
        <a href="/profil">Voir mon profil</a>
        <a href="/editprofil">Éditer mon profil</a>
        <hr/>
        <a href="/mesobjets">Sac & équipements</a>
        <a href="/boutique">Voir la boutique</a>
        <hr/>
        <a href="/logout">Me déconnecter</a>
    </div>
</div>